.idea/
*.iml
/captures
settings.gradle
local.properties
build
.DS_Store
.gradle/
/MapboxAndroidDemo/src/main/res/values/developer-config.xml
/MapboxAndroidWearDemo/src/main/res/values/developer-config.xml
gradlew.bat
*.properties
src/main/res/
